@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;
    --supporting: 0 3% 75%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 5%;
    --popover-foreground: 240 4% 16%;
    --primary: 41 99% 72%;
    --primary-foreground: 240 4% 16%;
    --secondary: 190 27% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 0 0% 100%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5em;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;
    --supporting: 0 3% 75%;
    --card: 0 0% 5%;
    --card-foreground: 240 4% 16%;
    --popover: 0 0% 5%;
    --popover-foreground: 240 4% 16%;
    --primary: 41 99% 72%;
    --primary-foreground: 240 4% 16%;
    --secondary: 190 27% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 0 0% 100%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5em;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(41 99% 72%);
  border-radius: 20px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
